<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  
  
  <appSettings>    
    <add key="MailServer" value="localhost" />
    <add key="EnableErrorLogEmail" value="false" />
    <add key="ErrorLogEmail" value="fabio@netitc.com.br" />   
    <add key="SiteName" value="DevMedia - E-Commerce"/>    
  </appSettings>
  
  
  

	<connectionStrings>

    <add name="StoreString" connectionString="Database=Store;Server=xx.xx.x6.98;Persist Security Info=True;User ID=dfddsa;Password=xx;" providerName="System.Data.SqlClient"/>
    
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="Database=Store;Server=xx.19.xx.xx;Persist Security Info=True;User ID=xxx;Password=xxx;" providerName="System.Data.SqlClient"/>


    <!--<add name="StoreString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\DevStore.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>-->
	</connectionStrings>


 
  
  
	<system.web>
    <roleManager enabled="true" />
    <pages theme="Store">
      <controls>
        <add tagPrefix="custom" namespace="DevMedia"/>
        <add tagPrefix="userControl" tagName="CategoryTemplate" src="~/Controls/Category.ascx" />
        <add tagPrefix="userControl" tagName="Menu" src="~/Controls/Menu.ascx" />
        <add tagPrefix="userControl" tagName="ProductView" src="~/Controls/ProductView.ascx" />
      </controls>
    </pages>
      
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true"/>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms cookieless="AutoDetect" loginUrl="~/Login.aspx" name="FORMAUTH"/>
    </authentication>


    <membership defaultProvider="ECommerce_MembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <add name="ECommerce_MembershipProvider"
             connectionStringName="LocalSqlServer"
          applicationName="/"
          enablePasswordRetrieval="true"
          enablePasswordReset="true"
          requiresQuestionAndAnswer="false"
          requiresUniqueEmail="true"
          passwordFormat="Encrypted"
          maxInvalidPasswordAttempts="5"
          passwordAttemptWindow="10"
          minRequiredPasswordLength="4"
          minRequiredNonalphanumericCharacters="0"
          type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </membership>


    <machineKey validationKey="287C5D125D6B7E7223E1F719E3D58D17BB967703017E1BBE28618FAC6C4501E910C7E59800B5D4C2EDD5B0ED98874A3E952D60BAF260D9D374A74C76CB741803" decryptionKey="5C1D8BD9DF3E1B4E1D01132F234266616E0D5EF772FE80AB" validation="SHA1"/>



    <caching>
      <sqlCacheDependency enabled="true" pollTime="15000">
        <databases>
          <add name="ECommerce" connectionStringName="StoreString"/>
        </databases>
      </sqlCacheDependency>
    </caching>


    <siteMap defaultProvider="ECommerce_SiteMapProvider" enabled="true">
      <providers>
        <add name="ECommerce_SiteMapProvider"
          type="System.Web.XmlSiteMapProvider"
          securityTrimmingEnabled="true"
          siteMapFile="Web.sitemap"/>
      </providers>
    </siteMap>


    <anonymousIdentification enabled="true"/>
    <profile defaultProvider="ECommerce_ProfileProvider">
      <providers>
        <add name="ECommerce_ProfileProvider" connectionStringName="LocalSqlServer"  applicationName="/"
          type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>   
      <properties>
        <add name="MemberName"/>
        <add name="Name"/>
        <add name="Address"/>
        <add name="City"/>
        <add name="State"/>
        <add name="Country"/>        
        <add name="PostCode"/>        
        <add name="Email"/>        
        <add name="Cart" serializeAs="Binary" type="DevMedia.ECommerce.Cart" allowAnonymous="true"/>
      </properties>
    </profile>


    <customErrors mode="Off" defaultRedirect="Oooops.aspx"/>


    <globalization  
           requestEncoding="utf-8"  
           responseEncoding="utf-8"  
           culture="en-US"
  />




  </system.web>
</configuration>
